/* FONT IMPORT */
@font-face {
  font-family: "Archivo";
  src:
    url("./fonts/Archivo-SemiBold.woff2") format("woff2"),
    url("./fonts/Archivo-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo";
}

ul {
  list-style-type: none;
}

li {
  border-radius: 999px;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  padding: 0;
  background: none;
}

li:hover {
  background-color: lightgray;
}

input {
  font: inherit;
  background-color: lightgray;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
}

input:focus {
  outline: none;
  box-shadow: inset 0 -4px 0 royalblue;
}

button {
  font: inherit;
  gap: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
}

button svg {
  height: 1.5em;
}

dialog {
  margin: auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* SIDEBAR */
#sidebar {
  flex-grow: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

li.active {
  background-color: lightgray;
}

/* ADD PROJECT DIALOG */
#add-project-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  gap: 0.5em;
}

#add-project-modal-btns {
  display: flex;
  gap: 1em;
}

/* MAIN CONTENT */
#main {
  flex-grow: 5;
  border: 1px solid black;
  padding: 2em;
}

#main-header {
  display: flex;
}
